In [1]:
from google.colab import drive
drive.mount('./MyDrive')

Mounted at ./MyDrive

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import MinMaxScaler
import joblib
plt.rc('font', family='NanumBarunGothic')

# keras 관련 모듈
from keras.models import Sequential
from keras.layers import Dense
from keras.callbacks import EarlyStopping, ModelCheckpoint
from keras.layers import LSTM
from sklearn.model_selection import train_test_split
from keras import backend as K
from tensorflow.keras.optimizers import Adam

import os

In [3]:
# 데이터 불러오기

path = '/content/MyDrive/MyDrive/2021-2 데이터애널리틱스/'

data = pd.read_csv(path+'DaData_Add.csv', encoding='cp949', engine='python')
data

              날짜  평균강수량  최대강수량  평균기온  최고기온  ...   집세  공공서비스  개인서비스  근원물가  생활물가
0     2014-01-01    0.0    0.1   4.8   9.2  ...  2.4    0.7    1.2   1.7   0.6
1     2014-01-02    0.0    0.0   2.6   9.1  ...  2.4    0.7    1.2   1.7   0.6
2     2014-01-03    0.0    0.0   2.6  10.1  ...  2.4    0.7    1.2   1.7   0.6
3     2014-01-04    1.2   31.0   1.5   6.9  ...  2.4    0.7    1.2   1.7   0.6
4     2014-01-05    0.1   30.2   0.7   6.6  ...  2.4    0.7    1.2   1.7   0.6
...          ...    ...    ...   ...   ...  ...  ...    ...    ...   ...   ...
2552  2020-12-27    2.1   53.2   3.2   8.1  ...  NaN    NaN    NaN   NaN   NaN
2553  2020-12-28    0.1    1.4   4.2  11.9  ...  NaN    NaN    NaN   NaN   NaN
2554  2020-12-29    1.8    6.9   2.1   8.6  ...  NaN    NaN    NaN   NaN   NaN
2555  2020-12-30    1.1   33.4  -6.8  -1.1  ...  NaN    NaN    NaN   NaN   NaN
2556  2020-12-31    0.2    5.2  -6.4  -1.4  ...  NaN    NaN    NaN   NaN   NaN

[2557 rows x 31 columns]

In [4]:
def zero_to_mean(data, name) :
  print('원본 데이터 수 : ', len(data))
  print('평균 대체 전 ', name, '== 0 개수 : ', len(data[data[name] == 0]))

  # 가격열 0인 경우 1일전/후 데이터의 평균값으로 대체
  zero_index = data[data[name] == 0][name].index
  num1list = [1] * len(zero_index)
  zero_index = zero_index[1:-1]
  zero_pre = [zero_index[i] - num1list[i] for i in range(len(zero_index))]
  zero_post = [zero_index[i] + num1list[i] for i in range(len(zero_index))]
  print(len(zero_pre), len(zero_post))

  zero_sum = [data.loc[zero_pre, name].tolist()[i] + data.loc[zero_post, name].tolist()[i] for i in range(len(zero_index))]

  num2list = [2] * len(zero_index)
  mean_result = [zero_sum[i] / num2list[i] for i in range(len(zero_index))]
  # print(data.loc[outlier_pre, name].tolist())
  # print(data.loc[outlier_post, name].tolist())
  # print(outlier_result)
  data.loc[zero_index, name] = mean_result
  print('평균 대체 후 ', name, '== 0 개수 : ', len(data[data[name] == 0]), '\n')
  return data

def zero_index(data, name) :
  return data[data[name] == 0][name].index.tolist()

def result(data) :
  name_list = ["건고추가격", "건고추거래량", "배추가격", "배추거래량", "대파가격", "대파거래량", "마늘가격", "마늘거래량", "무가격", "무거래량"]
  for name in name_list :
    data = zero_to_mean(data, name)

  pricename_list = ["건고추가격", "배추가격", "대파가격", "마늘가격", "무가격"]
  index_list = []

  for i in pricename_list :
    index_list.append(zero_index(data, i))

  index_list = sum(index_list, []) # 2차원 -> 1차원 변환
  index_list = set(index_list) # 중복 제거
  index_list = list(index_list) # set -> list 형태로 변환
  print(index_list)
  data.drop(index_list, inplace = True)

  for i in pricename_list :
    index_list.append(zero_index(data, i))
    print('제거 후 ', i, '== 0 개수 : ', len(data[data[i] == 0]), '\n')

  return data

In [5]:
data = result(data)

원본 데이터 수 :  2557
평균 대체 전  건고추가격 == 0 개수 :  928
926 926
평균 대체 후  건고추가격 == 0 개수 :  347

원본 데이터 수 :  2557
평균 대체 전  건고추거래량 == 0 개수 :  928
926 926
평균 대체 후  건고추거래량 == 0 개수 :  347

원본 데이터 수 :  2557
평균 대체 전  배추가격 == 0 개수 :  389
387 387
평균 대체 후  배추가격 == 0 개수 :  19

원본 데이터 수 :  2557
평균 대체 전  배추거래량 == 0 개수 :  389
387 387
평균 대체 후  배추거래량 == 0 개수 :  19

원본 데이터 수 :  2557
평균 대체 전  대파가격 == 0 개수 :  388
386 386
평균 대체 후  대파가격 == 0 개수 :  16

원본 데이터 수 :  2557
평균 대체 전  대파거래량 == 0 개수 :  388
386 386
평균 대체 후  대파거래량 == 0 개수 :  16

원본 데이터 수 :  2557
평균 대체 전  마늘가격 == 0 개수 :  408
406 406
평균 대체 후  마늘가격 == 0 개수 :  23

원본 데이터 수 :  2557
평균 대체 전  마늘거래량 == 0 개수 :  408
406 406
평균 대체 후  마늘거래량 == 0 개수 :  23

원본 데이터 수 :  2557
평균 대체 전  무가격 == 0 개수 :  388
386 386
평균 대체 후  무가격 == 0 개수 :  16

원본 데이터 수 :  2557
평균 대체 전  무거래량 == 0 개수 :  388
386 386
평균 대체 후  무거래량 == 0 개수 :  16

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 47, 48, 49, 50, 51, 52, 53, 54, 58, 59, 60, 77, 98, 99, 103, 107, 108, 109, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 130, 131, 132, 133, 137, 138, 139, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 162, 163, 164, 165, 2215, 2216, 172, 176, 177, 178, 183, 194, 195, 199, 200, 201, 202, 203, 204, 205, 206, 2081, 2082, 250, 251, 252, 261, 262, 333, 354, 355, 356, 357, 364, 365, 366, 367, 368, 414, 415, 416, 417, 418, 419, 420, 2466, 2467, 424, 425, 426, 427, 428, 437, 438, 452, 467, 476, 480, 481, 485, 486, 491, 492, 493, 494, 495, 496, 497, 498, 499, 500, 501, 502, 506, 507, 508, 509, 510, 2556, 515, 528, 529, 546, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559, 560, 564, 565, 566, 567, 568, 569, 570, 634, 635, 639, 640, 725, 726, 730, 731, 732, 739, 740, 741, 742, 743, 744, 745, 746, 747, 748, 749, 750, 751, 752, 753, 754, 755, 762, 767, 768, 769, 770, 774, 775, 776, 777, 778, 779, 780, 781, 782, 783, 784, 852, 872, 877, 878, 882, 988, 989, 990, 991, 992, 1064, 1081, 1082, 1083, 1089, 1090, 1096, 1102, 1110, 1111, 1112, 1113, 1114, 1115, 1116, 1117, 1118, 1119, 1120, 1121, 1122, 1123, 1124, 1125, 1126, 1127, 1132, 1133, 1134, 1135, 1136, 1137, 1138, 1139, 1140, 1141, 1142, 1143, 1144, 1145, 1146, 1147, 1148, 1149, 1150, 1151, 1152, 1156, 1162, 1163, 1164, 1165, 1172, 1173, 1178, 1179, 1180, 1187, 1188, 1189, 1190, 1221, 1225, 1226, 1227, 1228, 1234, 1235, 1249, 1264, 1265, 1271, 1277, 1278, 1279, 1280, 1285, 1286, 1299, 1318, 1319, 1352, 1368, 1369, 1370, 1371, 1372, 1373, 1374, 1375, 1376, 1453, 1454, 1455, 1460, 1461, 1484, 1485, 1508, 1629, 1727, 1728, 1860, 1861, 1862]
제거 후  건고추가격 == 0 개수 :  0

제거 후  배추가격 == 0 개수 :  0

제거 후  대파가격 == 0 개수 :  0

제거 후  마늘가격 == 0 개수 :  0

제거 후  무가격 == 0 개수 :  0

In [6]:
data.to_csv(path+'data_zero_to_mean.csv')

In [7]:
df = pd.read_csv(path+'data_zero_to_mean.csv', index_col=0)
df

              날짜  평균강수량  최대강수량  평균기온  최고기온  ...   집세  공공서비스  개인서비스  근원물가  생활물가
21    2014-01-22    0.0    0.0  -2.7   3.4  ...  2.4    0.7    1.2   1.7   0.6
22    2014-01-23    0.0    0.1  -1.0   7.1  ...  2.4    0.7    1.2   1.7   0.6
23    2014-01-24    0.0    0.0   4.0  10.7  ...  2.4    0.7    1.2   1.7   0.6
44    2014-02-14    0.2    5.4   1.9   6.0  ...  2.5    0.7    0.9   1.7   0.4
45    2014-02-15    0.0    1.0   1.7   8.9  ...  2.5    0.7    0.9   1.7   0.4
...          ...    ...    ...   ...   ...  ...  ...    ...    ...   ...   ...
2551  2020-12-26    0.0    0.0   1.2   7.9  ...  NaN    NaN    NaN   NaN   NaN
2552  2020-12-27    2.1   53.2   3.2   8.1  ...  NaN    NaN    NaN   NaN   NaN
2553  2020-12-28    0.1    1.4   4.2  11.9  ...  NaN    NaN    NaN   NaN   NaN
2554  2020-12-29    1.8    6.9   2.1   8.6  ...  NaN    NaN    NaN   NaN   NaN
2555  2020-12-30    1.1   33.4  -6.8  -1.1  ...  NaN    NaN    NaN   NaN   NaN

[2210 rows x 31 columns]

In [8]:
df[df["건고추가격"] == 0]

Empty DataFrame
Columns: [날짜, 평균강수량, 최대강수량, 평균기온, 최고기온, 최저기온, 평균습도, 최저습도, 평균풍속, 최대풍속, 건고추가격, 건고추거래량, 배추가격, 배추거래량, 대파가격, 대파거래량, 마늘가격, 마늘거래량, 무가격, 무거래량, 고급휘발유, 보통휘발유, 자동차용경유, 소비자물가, 농축수산물, 공업제품, 집세, 공공서비스, 개인서비스, 근원물가, 생활물가]
Index: []